@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lexend', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #1152d4;
  --primary-bg-color: #101622;
  --primary-hover-color: #3b7aff;
  --primary-bg-color: #101622;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
  margin: 0;
  background-color: #101622;
  font-family: 'Lexend', system-ui, sans-serif;
}

.bg-mesh {
  background-color: #101622;
  background-image:
    radial-gradient(at 0% 0%, rgba(17, 82, 212, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(17, 82, 212, 0.1) 0px, transparent 50%);
}

.perspective {
  perspective: 1200px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-x-180 {
  transform: rotateX(180deg);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #232f48;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
